version: '3'

services:
  mysql:
    container_name: mysql_master
    image: cloud-platform/mysql:5.7
    build:
      context: ./script/mysql
    restart: always
    volumes:
      - mysql_master:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=1234
    ports:
      - 3306:3306
    networks:
      - cloud_net
  redis:
    container_name: redis_master
    image: redis:5.0
    restart: always
    command: --appendonly yes
    volumes:
      - redis_master:/data
    ports:
      - 6379:6379
    networks:
      - cloud_net
  nacos:
    container_name: nacos_master
    image: cloud-platform/nacos-server:1.4.0
    build:
      context: ./script/nacos
    restart: always
    environment:
      - MODE=standalone
      - SPRING_DATASOURCE_PLATFORM=mysql
      - MYSQL_SERVICE_HOST=mysql_master
      - MYSQL_SERVICE_PORT=3306
      - MYSQL_SERVICE_DB_NAME=cloud_nacos
      - MYSQL_SERVICE_USER=root
      - MYSQL_SERVICE_PASSWORD=1234
    ports:
      - 8848:8848
    networks:
      - cloud_net
volumes:
  mysql_master:
  redis_master:
networks:
  cloud_net: